* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
#d2d4d9
#929397 
#67686b

New Tile Grey: #3f3f3f
*/

:root {
  --correct: #68a868;
  --correct-tint: #6fb26f;
  --wrong: #d0b363;
  --primary: #ffffff;
  --secondary: #131313;
  --secondary-shadow: #0000001f;
  --primary-transparent: #ffffff80;
  --grey-light: #d2d4d9;
  --grey-dark: #929397;
  --pure-grey: #222222;

  --money: #f6864e;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  overflow-y: hidden;
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid grey;
  font-size: 1.8rem;
}

.header__title {
  text-align: center;
  color: var(--secondary);
}

.header__icon-container__1 {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.header__icon-container__2 {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  gap: 1rem;
}

.header__icon {
  width: 3rem;
  height: 3rem;
  color: var(--secondary);
}

.header__icon:hover {
  cursor: pointer;
}

/* ///////// */
/* Boardgame */
/* ///////// */

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 90vh;
  max-width: 100%;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.message-container {
  position: fixed;
  top: 20vh;
  left: 50%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  background-color: var(--secondary);
  color: var(--primary);
  transform: translate(-50%, -50%);
  padding: 0.75em;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 0.2rem;
}

.message:last-child {
  margin-bottom: 0;
}

.message.invisible {
  opacity: 0;
}

.board__row {
  display: flex;
  gap: 0.5rem;
}

.board__tile {
  width: 5.6rem;
  height: 5.6rem;
  position: relative;
  color: var(--secondary);
  background: var(--primary);
  border: 2px solid var(--grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 700;
  opacity: 1;
  transform-style: preserve-3d;
  perspective: 1000;
  transition: transform 0.4s linear;
}

.board__tile.flip {
  transform: rotateX(90deg);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 0.5rem 1rem 0.5rem;
}

.keyboard__row {
  display: flex;
  gap: 0.4rem;
  width: 100%;
}

.keyboard__row-2 {
  padding: 0 2.5rem;
}

.keyboard__button {
  flex-grow: 2;
  flex-shrink: 1;
  height: 5.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(210, 212, 217);
  font-weight: 600;
  color: var(--secondary);
}

.keyboard__button:hover {
  cursor: pointer;
}

.keyboard__button--enter,
.keyboard__button--backspace {
  height: 5.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--grey-light);
}

.keyboard__button--enter:hover,
.keyboard__button--backspace:hover {
  cursor: pointer;
}

.backspace__icon {
  width: 3rem;
  height: 3rem;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }

  20% {
    transform: translateX(1rem);
  }

  40% {
    transform: translateX(-1rem);
  }

  60% {
    transform: translateX(1rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* ////////////////// */
/* Introduction Modal */
/* ////////////////// */

.modal__container {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s linear;
}

.rules-modal,
.settings-modal {
  max-width: 90%;
  width: 50rem;
  padding: 3rem 0;
  opacity: 0;
  transition: all 0.2s linear;
}

.rules-modal.translate-up,
.settings-modal.translate-up {
  transform: translateY(-2rem);
  opacity: 1;
}

.rules-modal__header,
.settings-modal__header {
  position: relative;
  color: var(--secondary);
}

.rules-modal__title,
.settings-modal__title {
  text-align: center;
  color: var(--secondary);
}

.rules-modal__close-icon,
.settings-modal__close-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  color: var(--secondary);
}

.rules-modal__close-icon:hover,
.settings-modal__close-icon:hover {
  cursor: pointer;
}

.rules-modal__intro {
  border-bottom: 0.5px solid grey;
  padding-top: 2rem;
  color: var(--secondary);
}

.settings-modal__intro {
  padding-top: 2rem;
  color: var(--secondary);
}

.rules-modal__intro__text {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  color: var(--secondary);
}

.rules-modal__examples {
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-bottom: 0.5px solid grey;
  color: var(--secondary);
}

.example {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.example__div-container {
  display: flex;
  gap: 0.5rem;
}

.example__div,
.example__flip {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  background-color: var(--primary);
  border: 2px solid var(--grey-dark);
}

.example__flip.flip {
  transform: rotateX(90deg);
}

.example__text {
  font-size: 1.4rem;
}

.rules__modal__footer {
  padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--secondary);
}

.settings-modal__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid grey;
  padding: 1.5rem 0;
}

.settings-modal__section__title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary);
}

.settings-modal__section__description {
  font-size: 1.2rem;
  color: grey;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.4rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--correct);
}

input:focus + .slider {
  box-shadow: 0 0 0.1rem var(--correct);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.statistics-modal__container {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.statistics-modal {
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 0 0 10px 5px #0000001f;
  padding: 1rem;
  margin-top: 2rem;
  transition: all 0.2s linear;
  max-width: 85%;
  width: 50rem;
}

.statistics-modal.transform-up {
  transform: translateY(-2rem);
}

.statistics-modal__close-icon__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.statistics-modal__close-icon {
  width: 3rem;
  height: 3rem;
  color: var(--secondary);
}

.statistics-modal__close-icon:hover {
  cursor: pointer;
}

.statistics-modal__title {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 1rem;
  color: var(--secondary);
}

.statistics-modal__stats-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.statistics-modal__stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-modal__stat {
  font-size: 3.6rem;
  color: var(--secondary);
}

.statistics-modal__guess-distribution-container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.statistics-modal__stat-description {
  font-size: 1.2rem;
  color: var(--secondary);
}

.stastistics-modal__guess-distribution {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.statistics-modal__guess-distribution__number {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary);
}

.statistics-modal__guess-distribution__bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  width: 2rem;
  height: 2rem;
  background-color: grey;
  padding: 0 0.3rem 0 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.statistics-modal__share-and-timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics-modal__timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 1rem;
  border-right: 1px solid black;
}

.statistics-modal__next-werdle {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--secondary);
}

.statistics-modal__time {
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
  color: var(--secondary);
}

.statistics-modal__share-button-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.statistics-modal__share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--correct);
  color: white;
  width: 70%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
}

.statistics-modal__share-button:hover {
  cursor: pointer;
  background-color: var(--correct-tint);
}

.statistics-modal__share-button__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.statistics-modal__share {
  height: 200px;
  width: 500px;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.hidden {
  display: none;
}
